/*.wrep {*/
/*    height: 650px;*/
/*    width: 850px;*/
/*    border: 2px solid grey;*/
/*    border-radius: 5px;*/
/*}*/
.A {
    height: 200px;
    width: 800px;
    color: grey;
    justify-content: center;
}