.brd-r-10 {
    border-radius: 10px;
}
.bg-red-base {
    background: #e23e3e;
    margin: 10px;
}
.h200 {
    height: 200px;
}
.w200 {
    width: 200px;
}
.w250 {
    width: 250px;
}
.w300 {
    width: 300px;
}
.w400 {
    width: 400px;
}
.h300 {
    height: 300px;
}
.bg-dark-base {
    background: #474444;
    margin: 5px;
}
.round {
    border-radius: 50%;
}
.box-3-3 {
    display: flex;
    flex-wrap: wrap;
}
.box-3-3>div {
    margin-left: 5%;
    margin-right: 5%;
}
